/* https://blog.hubspot.com/website/center-text-in-css*/
body, button, input, div, form, p {
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 100%;
  color: #333;
}
.inverse {
  background-color: #333;
  color: white;
}
* {
text-align: center;
}
#center {
  width: 400px; 
  margin: auto;
  /* Optional Styling */
  padding: 20px;
}
label {
  font-weight: 900;
}
p.normal {
  font-weight: normal;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}
.btn{
  background-color: #0068B1; 
  color: white;
  padding: 10px; 
  width: 100px;
  border-radius: 5px;
  font-size: 80%;
}
.btn:hover{
  background-color: #408EC5;
}
.input{
  /*background-color: #0068B1; */
  color: white;*/
  padding: 10px; 
  width: 100px;
  border-radius: 5px;
  font-size: 80%;
}
.input:hover{
  /*background-color: #408EC5;*/
}
