/* https://blog.hubspot.com/website/center-text-in-css*/
/*https://www.w3schools.com/howto/howto_js_tabs.asp */
/*body {
  background-image: url("https://images.pexels.com/photos/1933316/pexels-photo-1933316.jpeg"); 
  background-size: cover; 
  background-position: center center;
}*/
body, button, input, div, form, p {
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 100%;
  color: #333;
}
.inverse {
  background-color: #333;
  color: white;
}
h {
    font-family: monaco,Consolas,Lucida Console,monospace; 
}
* {
text-align: center;
}
#center {
  /*width: 400px; */
  margin: auto;
  /* Optional Styling */
  padding: 0px;
}
html {
  height:100%;
}
body {
  min-height:100%;
}
label {
  font-weight: 900;
}
p.normal {
  font-weight: normal;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}

.btn {
  background-color: #0068B1; 
  color: white;
  padding: 4px; 
  width: 140px;
  border-radius: 8px;
  float: None;
  border-width: thin;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: .875rem;
}
.btn:hover {
  background-color: #408EC5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input{
  background-color: #0068B1;
  color: white;
  padding: 4px; 
  width: 180px;
  border-radius: 8px;
  font-size: 80%;
  text-align: left;
  border-width: thin;
}
.input:hover{
  background-color: #408EC5;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff; /*f1f1f1;*/
  border-radius: 8px 8px 0px 0px;
  border: none;
}

/* Style the buttons inside the tab */
.tab button {
  /*background-color: inherit;*/
  background-color: #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 100%;
  border-radius: 8px 8px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none; /*px solid #ccc;*/
  border-top: none;
  border-radius: 0px 8px 8px 8px;
  transition: 0.3s;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.alert {
  color:#931314;
  background-color: #F4BB44;
  border-radius: 8px;
  padding: 14px 16px;
}
.alert:empty {
  display: none;
}

.responsive {
  width: 100%;
  max-width: 24px;
  height: auto;
}

.memoformat {
  font-size: 0.875rem;
  background-color: #0068B1;
  float: None;
  border-width: thin;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem; 
}

.memoformat-black {
  font-size: 0.875rem;
  background-color:#333;
  color: #fff;
  width: fit-content;
  font-style: italic;
  margin: auto;
}

#Wrap {background-color: #ccc;}
#Unwrap {background-color: #ccc;}
#PoR {background-color: #ccc;}

